@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'M PLUS 1 Code';
  src: url('/fonts/mplus-1-code-regular.woff2') format('woff2'),
       url('/fonts/mplus-1-code-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS 1 Code';
  src: url('/fonts/mplus-1-code-bold.woff2') format('woff2'),
       url('/fonts/mplus-1-code-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
  :root {
    --color-text-main: #333;
    --color-text-sub: #999;
    --color-bg-main: #fff;
    --color-bg-sub: #f3f3f3;
    --color-bg-code: #fafafa;
    --color-border-dark: #ccc;
    --color-border: #ddd;
    --color-border-light: #f3f3f3;
    --color-current: #eee;
    --border-radius: 4px;
  }